
<h3 style="color:red"> User- báo cáo tin</h3>
<h4>read</h4>

<% if(typeof lst_BCTin !== 'undefined'){
    for(i=0;i<lst_BCTin.length;i++){%>
        <div>
            <span><%=lst_BCTin[i]._id%></span>
            <span><b><%=lst_BCTin[i].tieuDe%></b></span>
            <span><b><%=lst_BCTin[i].noiDung%></b></span>
            <span><b><%=lst_BCTin[i].id_TinDang%></b></span>
            <span><b><%=lst_BCTin[i].trangThai%></b></span>
            <span><a href="/bctindang/delete/<%=lst_BCTin[i]._id%>">xóa</a></span>
        </div>
 
<%}}%>

<h4>create</h4>
<form action="/bctindang" method="post">
    tiêu đề : <select name="tieuDe">
                <option  value="Lừa Đảo">Lừa Đảo</option>
                <option  value="Trùng Lặp">Trùng Lặp</option>
                <option  value="Hàng đã Bán">Hàng đã Bán</option>
                <option  value="Không liên lạc được">Không liên lạc được</option>
                <option  value="Không đúng thực tế">Không đúng thực tế</option>
              </select>
   
    
    <br>
    noiDungBaoCao: <input type="text" name="noiDungBaoCao"> <br>
    id_TinDang : <input type="text" name="id_TinDang"> <br>
    sDT: <input type="text" name="sDT"> <br>
    email : <input type="text" name="email"> <br>
    <input type="submit" value="adđ">
</form>
<% if(typeof mes_DMCha_C !=='undefined'){%>
    <div><%=mes_DMCha_C%></div>
<%}%>

<h4>update</h4>
<form action="/bctindang/edit" method="post">
    
    id Báo cáo <input type="text" name="id_BCTin"> 
     trạng thái: <select name="trangThai">
                    <option  value="Duyệt-đúng">Duyệt-đúng</option>
                    <option  value="Duyệt -sai">Duyệt -sai</option>                                  
                </select> 
     <input type="submit" value="update">
</form>
<h4>delete</h4>
<i>xóa bằng link</i>