<%if(typeof tindang!=='undefined') {%>
    <div><%=tindang.tieuDe%></div>
    <div><%=tindang.moTaChiTiet%></div>
    <div><%=tindang.anh1%></div>
    <div><%=tindang.diaChi%></div>
    <div><%=tindang.gia%></div>
    <div><%=tindang.loaiTinDang%></div>
    <div><%=tindang.thoiGianDang%></div>
    <div><%=tindang.thoiHan%></div>
  
    
<%}%>