<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/_assets/js/vendor/modernizr-2.8.3.min.js"></script>
    



    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--== Header Area Start ==-->
<%include ./template/nav-header%>
<!--== Header Area End ==-->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="/_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <ul class="breadcrumb">
                        <li><a href="/gallery">Home</a></li>
                        <li><a href="">Danh Mục</a></li>
                        <li><a href="single-product.html" class="active"> <%if(typeof tindang!=='undefined'){%><%=tindang.tieuDe%> <%}%> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="ruby-container">
        <div class="row">
            <!-- Single Product Page Content Start -->
            <div class="col-lg-12">
                <div class="single-product-page-content">
                    <div class="row">
                        <!-- Product Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="product-thumbnail-wrap">
                                <div class="product-thumb-carousel owl-carousel">
                                    <div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid"
                                                                           src="/upload/<%=tindang.anh1%>"
                                                                           alt="Product"/></a>
                                    </div>

                                    <div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid"
                                                                           src="/upload/<%=tindang.anh2%>"
                                                                           alt="Product"/></a>
                                    </div>

                                    <div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid"
                                                                           src="/upload/<%=tindang.anh3%>"
                                                                           alt="Product"/></a>
                                    </div>

                                   
                                </div>
                            </div>
                        </div>
                        <!-- Product Thumbnail End -->

                        <!-- Product Details Start -->
                        <div class="col-lg-7 mt-5 mt-lg-0">
                            <div class="product-details">
                                <h2><a href="single-product.html"><%=tindang.tieuDe%></a></h2>

                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                </div>

                                <span class="price">Giá:&nbsp<%=tindang.gia%>&nbsp (đ)</span>

                                

                               
                                <div class="shopping-option-item">                                  
                                    <i class="fa fa-map-marker fa-1x"></i><b>&nbsp Địa Chỉ:&nbsp </b> <%=tindang.diaChi%>
                                </div>
                                <div class="shopping-option-item">   
                                     <i class="fa fa-tags fa-1x"></i><b>&nbsp Loại Tin:&nbsp </b> <%=tindang.loaiTinDang%>
                                </div>
                                <div class="shopping-option-item">   
                                    <i class="fas fa-clock"></i><b>&nbsp Thời Hạn:&nbsp </b><%=tindang.thoiHan%>
                                </div>
                                

                                <div class="product-quantity d-flex align-items-center">
                                    
                                    <form action="/info" method="post" id="my_form1">
                                        <input type="hidden" name="email_User" value="<%=tindang.email_User%>">
                                      
                                        <a href="javascript:{}" class="btn btn-add-to-cart btn-whislist" onclick="document.getElementById('my_form1').submit();">Liên hệ Người bán</a>
                                    </form>
                                   
                                </div>

                                <div class="product-btn-group">
                                     <form action="/tindaluu" method="post" id="formluutin">
                                        <input type="hidden" name="id" value="<%=tindang._id%>">
                                        <input type="hidden" name="tieuDe" value="<%=tindang.tieuDe%>">
                                        <input type="hidden" name="nguoiDang" value="<%=tindang.email_User%>">
                                        <a  href="javascript:{}" onclick="document.getElementById('formluutin').submit();"class="btn btn-add-to-cart btn-whislist"><i class="fa fa-heart-o"></i>&nbsp &nbsp    Lưu Tin Đăng</a>
                                    </form>
                                  
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Product Details End -->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Product Full Description Start -->
                            <div class="product-full-info-reviews">
                                <!-- Single Product tab Menu -->
                                <nav class="nav" id="nav-tab">
                                    <a class="active" id="description-tab" data-toggle="tab" href="#description">Mô Tả Chi Tiết</a>
                                    <a id="reviews-tab" data-toggle="tab" href="#reviews">Đánh Giá-Báo Cáo</a>
                                </nav>
                                <!-- Single Product tab Menu -->

                                <!-- Single Product tab Content -->
                                <div class="tab-content" id="nav-tabContent"> 
                                <div></div>
                                    <div class="tab-pane fade show active" id="description">
                                        <span  ><%-tindang.moTaChiTiet%></span>
                                    </div>

                                    <div class="tab-pane fade" id="reviews">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="product-ratting-wrap">
                                                    <div class="pro-avg-ratting">
                                                       
                                                        <span>Có <%=lst_BCTin.length%> Comments</span>
                                                    </div>
                                                    
                                                    <div class="rattings-wrapper">
                                                    <%if(typeof(lst_BCTin)!=='undefined'){
                                                        for(i=0;i<lst_BCTin.length;i++){ 
                                                    %>
                                                        <!--báo cáo-->
                                                        <div class="sin-rattings">
                                                            <div class="ratting-author">
                                                                <h3><%=lst_BCTin[i].sDT%></h3>
                                                                <div class="ratting-star">
                                                                    
                                                                    <%if(lst_BCTin[i].tieuDe=="luadao"){%>
                                                                       <i class="fa fa-flag"></i> 
                                                                    <%}else{%>
                                                                        <i class="fa fa-comments-o" style="color:green"></i> 
                                                                    <%}%>
                                                                                                                                  
                                                                    <span>
                                                                        <%=lst_BCTin[i].tieuDe=="luadao"?"lừa đảo":lst_BCTin[i].tieuDe=="trunglap"?"Trùng Lặp":""%>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <p><%=lst_BCTin[i].noiDungBaoCao%></p>
                                                        </div>
                                                        <!--end báo cáo-->
                                                        <%}}%>

                                                    </div>
                                                    <div class="ratting-form-wrapper fix">
                                                        <h3>Báo cáo Bài Đăng này</h3>
                                                        <form action="/bctindang" method="post">
                                                            <div class="ratting-form row">
                                                                <div class="col-12 mb-4">
                                                                    <h5>Tiêu Đề:</h5>
                                                                    <select name="tieuDe" class="form-control">
                                                                        <option  value="binhluan">Bình Luận</option>
                                                                        <option  value="luadao">Lừa Đảo</option>
                                                                        <option  value="trunglap">Trùng Lặp</option>
                                                                        <option  value="hangdaban">Hàng đã Bán</option>
                                                                        <option  value="khonglienlacduoc">Không liên lạc được</option>
                                                                        <option  value="khongdungthucte">Không đúng thực tế</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6 col-12 mb-4">
                                                                    <label for="name">Tên :</label>
                                                                    <input id="name" placeholder="Name" type="text" name="sDT" required>
                                                                </div>
                                                                <div class="col-md-6 col-12 mb-4">
                                                                    <label for="email">Email:</label>
                                                                    <input id="email" placeholder="Email" type="email" name="email" required>
                                                                </div>
                                                                <div class="col-12 mb-4">
                                                                    <label for="your-review">Đánh giá của bạn:</label>
                                                                    <textarea  id="your-review" 
                                                                              placeholder="Viết Đánh giá của bạn" name="noiDungBaoCao" maxlength="100" required></textarea>
                                                                </div>
                                                                <input type="hidden" name="id_TinDang" value="<%=tindang._id%>">
                                                                <div class="col-12">
                                                                    <input value="thêm Đánh Giá" type="submit">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Product tab Content -->
                            </div>
                            <!-- Product Full Description End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product Page Content End -->
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="/_assets/js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="/_assets/js/active.js"></script>
</body>

</html>






