<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

      <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/_assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--== Header Area Start ==-->
<% include ./template/nav-header %>
<!--== Header Area End ==-->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="/_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Bảng Điều Khiển</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login-register.html" class="active">Danh Mục Con</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <!-- My Account Tab Menu Start -->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                    <a href="/admin/info"  ><i class="fa fa-dashboard"></i> Thông Tin cá Nhân</a>

                                    <a href="/dmchas"><i class="fa fa-upload"></i> Quản Lý Danh Mục Cha</a>
                                    <a href="/dmcons"  class="active"  ><i class="fa fa-upload"></i> Quản Lý Danh Mục Con</a>

                                    <a href="/admin/tindangs/daduyet"  ><i class="fa fa-cart-arrow-down"></i> Quản Lý Tin Đăng</a>

                                    <a href="/admin/users"><i class="fa fa-cloud-download"></i> Quản Lý User</a>
    
                                    <a href="/bctindangs"   ><i class="fa fa-credit-card"></i> Quản Lý Bình Luận</a>
    
                                    <a href="#address"><i class="fa fa-map-marker"></i> Quản Lý Thống Kê</a>

                                    <a href="/admin/carousel"><i class="fa fa-cog"></i> Cài Đặt Cấu Hình</a>
    
                                    <a href="/mails_den"><i class="fa fa-user"></i> Tin Nhắn</a>
    
                                    <a href="/signout"><i class="fa fa-sign-out"></i> Logout</a>
                           
                            </div>
                        </div>
                        <!-- My Account Tab Menu End -->

                        <!-- My Account Tab Content Start -->
                        <div class="col-lg-9 mt-5 mt-lg-0">
                            <div class="tab-content" id="myaccountContent">
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                    <div class="myaccount-content">
                                 
                           
                                        <div class="account-details-form">
                                            <!--nội dung-->
                                            
                                            <% if(typeof lst_DMCon_R !== 'undefined'){%>
                                                <h3 style="color:red">quản lý danh mục con</h3>
                                                <a href="cart.html" class="btn-add-to-cart" data-toggle="modal" data-target="#modalTaoMoi">Tạo Mới</a>
                                                    <% if(typeof mes_DMCon_C !=='undefined'){%>
                                                    <div><%=mes_DMCon_C%></div>
                                                    <%}%>
                                                <br><br><br>
                                                <div class="cart-table table-responsive">
                                                  <table class="table table-bordered" id="table_1">
                                                        <thead>
                                                            <tr>
                                                                <th class="pro-thumbnail">STT</th>
                                                                <th class="pro-title">Tên Danh Mục Con</th>
                                                                <th class="pro-title">Tên Danh Mục Cha</th>
                                                            
                                                                <th class="pro-edit">edit</th>
                                                                <th class="pro-remove">Remove</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <%   for(i=0;i<lst_DMCon_R.length;i++){%>
                                                   
                                                      
                                                    
                                                        <tr>
                                                                <td class="pro-title"><a href="#"><%=i+1%></a></td>                                                             
                                                                <td class="pro-quantity"><span class="text-success"><%=lst_DMCon_R[i].tenDMCon%></span></td>
                                                                <td class="pro-quantity"><span class="text-success"><%=lst_DMCon_R[i].tenDMCha%></span></td>
                                                               
                                                                <td class="pro-edit"><a href=""  data-toggle="modal" data-target="#modalEdit<%=i+1%>"><i class="fa fa-edit"></i></a></td>
                                                                <td class="pro-remove"><a href="/dmcon/delete/<%=lst_DMCon_R[i]._id%>"><i class="fa fa-trash-o"></i></a></td>
                                                        </tr>

                                                                <!--modal edit-->
                                                                <div class="modal" id="modalEdit<%=i+1%>">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">

                                                                            <!-- Modal Header -->
                                                                            <div class="modal-header">
                                                                            <h4 class="modal-title">Chỉnh Sửa Danh Mục Con</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            </div>

                                                                            <!-- Modal body -->
                                                                            <div class="modal-body">
                                                                               
                                                                                <form action="/dmcon/edit" method="post">
                                                                                    <div class="form-group">
                                                                                        <label for="usr">Tên danh Mục Con:</label>
                                                                                        <input type="text" class="form-control" name="tenDMCon" value="<%=lst_DMCon_R[i].tenDMCon%>">
                                                                                    </div>
                                                                                  
                                                                                   <input type="hidden" name="id_DMCon" value="<%=lst_DMCon_R[i]._id%>"> 
                                                                                    <input type="submit" value="Lưu Lại" class="form-control btn btn-success">
                                                                                </form>

                                                                            </div>

                                                                            <!-- Modal footer -->
                                                                            <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                      <%}}%>
                                                            
                                                        </tbody>
                                                    </table>  
                                                </div>    
                                                    
                                           

                                            

                                     
                                    </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End //end chi tiết tài khoản-->
                                  <!-- Trigger the modal with a button -->
                                <!-- The Modal -->
                                <div class="modal" id="modalTaoMoi">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                            <h4 class="modal-title">Tạo Mới Danh Mục Cha</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                            <form action="/dmcon" method="post" >
                                                Tên danh mục cha: 
                                                <select name="tenDMCha" >
                                                    <%for(i =0 ;i<lst_DMCha_R.length;i++){%>
                                                        <option class="form-control"><%=lst_DMCha_R[i].tenDMCha%></option>
                                                    <%}%>
                                                </select>
                                                <br>
                                                Tên danh mục con  <input type="text" name="tenDMCon"  class="form-control"><br>
                                                <input type="submit" value="Tạo Mới"  class="form-control btn btn-success">
                                            </form>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                              

                             
                            </div>
                        </div>
                        <!-- My Account Tab Content End -->
                    </div>
                </div>
                <!-- My Account Page End -->
            </div>
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="/_assets/js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="/_assets/js/active.js"></script>
 <!--datatable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('#table_1').DataTable();
} );
</script>
</body>

</html>

