<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="_assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--== Header Area Start ==-->
<header id="header-area" class="header__2">
    <div class="ruby-container">
        <div class="row">
            <!-- Menu Open Icon -->
            <div class="col-lg-4 m-auto d-none d-lg-block">
                <div class="home_2-menu">
                    <a href="#" class="menu-open"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <!-- Menu Open Icon -->

            <!-- Logo Area Start -->
            <div class="col-3 col-lg-4 text-left text-lg-center m-auto">
                <a href="index.html" class="logo-area">
                    <img src="_assets/img/logo-black.png" alt="Logo" class="img-fluid"/>
                </a>
            </div>
            <!-- Logo Area End -->

            <!-- Header Right Meta Start -->
            <div class="col-9 col-lg-4 m-auto">
                <div class="header-right-meta text-right">
                    <ul>
                        <li><a href="/search" ><i class="fa fa-search"></i></a></li>
                        <li class="settings"><a href="/info"><i class="fa fa-cog"></i></a>
                        </li>
                        <li class="shop-cart"><a href="#"><i class="fa fa-bell"></i> <span
                                class="count">1</span></a>
                            <div class="mini-cart">
                                <div class="mini-cart-body">
                                    <div class="single-cart-item d-flex">
                                        <figure class="product-thumb">
                                            <a href="#"><img class="img-fluid" src="_assets/img/product-1.jpg"
                                                             alt="Products"/></a>
                                        </figure>

                                        <div class="product-details">
                                            <h2><a href="#">Hi, chào mừng đến với trang web chúng tôi</a></h2>
                                            <div class="cal d-flex align-items-center">
                                               
                                            </div>
                                        </div>
                                       
                                    </div>
                                   
                                </div>
                                <div class="mini-cart-footer">
                                    <a href="" class="btn-add-to-cart">oke</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Header Right Meta End -->
        </div>
    </div>
</header>
<!--== Header Area End ==-->

<!-- Navigation Area Start -->
<div class="navigation-area-wrap">
    <span class="menu-close"><img src="_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="main-menu-wrap d-flex">
        <nav id="mainmenu">
            <ul>
                <li class="dropdown-show"><a href="/gallery">Trang Chủ</a>
                                
                            </li>
                            <li class="dropdown-show"><a href="/dangtin">Đăng Tin</a>
                                
                            </li>
                            <li class="dropdown-show"><a href="/login-register">Đăng Ký</a>
                              
                            </li>
                            <li class="dropdown-show"><a href="/login-register">Đăng Nhập</a>
                                
                            </li>
                          
                            <li class="dropdown-show"><a href="#">Blog</a>                             
                            </li>
                            <li><a href="contact">Liên Hệ</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- Navigation Area End -->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Banner // Slider Area Start ==-->
<section id="banner-area" class="banner__3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="banner-carousel" class="owl-carousel">
                    <!-- Banner Single Carousel Start -->
                    
                    <% if(typeof(slide)!=="undefined"){
                    for(i=0;i<slide.length;i++){
                        if(slide[i].viTri=="tren")
                    {%>
                    <div class="single-carousel-wrap" style="background-image: url('/upload/<%=slide[i].carouselIMG1%>') ; max-height: 350px;
  overflow-y: hidden;">
                        <div class="banner-caption">
                            <h4><%=slide[i].theH4%></h4>
                            <h2><%=slide[i].theH2%></h2>
                            <p><%=slide[i].theP%>.</p>
                            <a href="<%=slide[i].theLink%>" class="btn-long-arrow"><%=slide[i].theA%></a>
                        </div>
                    </div>
                    <!-- Banner Single Carousel End -->
                    <%}}}%>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Banner Slider End ==-->

<!--== Products Area Start ==-->
<div id="products-area-wrapper" class="p-9">
    <div class="container-fluid">
    <%if(typeof folders!=='undefined'){
        for(i=0;i<folders.length;i++){%>
        <!-- Men Categories Products Start -->
        <div class="single-category-products">
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0">                                    
                    <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp d-flex" style="background-image:url('/upload/<%=folders[i].anh1%>')">
                        <div class="category-title-box d-flex">
                            <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                        </div>
                    </a>                                     
                </div>
                <%if(i+1<folders.length){i=i+1%>
                <div class="col-lg-6 order-first order-lg-last" >
                
                    <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp d-flex" style="background-image:url('/upload/<%=folders[i].anh1%>')">
                        <div class="category-title-box d-flex">
                            <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                        </div>
                    </a>
                </div>
               <%}%>
            </div>
        </div>
        <!-- Men Categories Products End -->

        <!-- Women Categories Products Start -->
        <div class="single-category-products">
            <div class="row">
            <%if(i+1<folders.length){i=i+1%>
                <!--begin-->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp women d-flex" style="background-image:url('/upload/<%=folders[i].anh1%>')">
                        <div class="category-title-box d-flex">
                            <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                        </div>
                    </a>
                </div> 
                <!--end -->
            <%}%>    
            <%if(i+1<folders.length){i=i+1%>
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp women d-flex" style="background-image:url('/upload/<%=folders[i].anh1%>')">
                        <div class="category-title-box d-flex">
                            <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                        </div>
                    </a>
                </div>
            <%}%> 
            <%if(i+1<folders.length){i=i+1%>   
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp women d-flex" style="background-image:url('/upload/<%=folders[i].anh1%>')">
                        <div class="category-title-box d-flex">
                            <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                        </div>
                    </a>
                </div>    
            <%}%>
            </div>          
        </div>
        <!-- Women Categories Products End -->

        <%if(i+1<folders.length){i=i+1%>   
        <!-- Clothing Categories Products Start -->
        <div class="single-category-products">
            <div class="row">
                <div class="col-lg-3 mt-5 mt-lg-0">                  
                </div>
                <div class="col-lg-6 order-first order-lg-last">
                    <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp clothing d-flex"  style="background-image:url('/upload/<%=folders[i].anh1%>')">
                        <div class="category-title-box d-flex">
                            <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <!-- Clothing Categories Products End -->
        <%}%>

        <!-- Jewelry Categories Products Start -->
        <div class="single-category-products">
            <div class="row">              
                <div class="col-lg-6">
                    <div class="row">
                    <%if(i+1<folders.length){i=i+1%>   
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp jewelry d-flex"  style="background-image:url('/upload/<%=folders[i].anh1%>')">
                                <div class="category-title-box d-flex">
                                    <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                                </div>
                            </a>
                        </div>
                        <%}%>
                        <%if(i+1<folders.length){i=i+1%>   
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp jewelry d-flex"  style="background-image:url('/upload/<%=folders[i].anh1%>')">
                                <div class="category-title-box d-flex">
                                    <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                                </div>
                            </a>
                        </div>
                        <%}%>
                    </div>    
                </div>
                <%if(i+1<folders.length){i=i+1%>   
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <a href="/gallery/<%=folders[i]._id%>/1" class="product-category-name-warp jewelry d-flex"  style="background-image:url('/upload/<%=folders[i].anh1%>')">
                        <div class="category-title-box d-flex">
                            <h2 class="pro-cate-title"><%=folders[i].tenDMCha%></h2>
                        </div>
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <!-- Jewelry Categories Products End -->
        <%}}%>
    </div>
</div>
<!--== Products Area End ==-->




<!--== Newsletter Area Start ==-->
<section id="newsletter-area" class="p-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2>Nhận mail </h2>
                    <p>để cập nhật các tin tức mới nhất từ chúng tôi</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="newsletter-form-wrap">
                    <form id="subscribe-form" action="" method="post">
                        <input id="subscribe" type="email" name="email" placeholder="nhập email của bạn ở đây" required/>
                        <button type="submit" class="btn-long-arrow">Theo Dõi</button>
                        <div id="result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Newsletter Area End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="_assets/js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="/_assets/js/active.js"></script>
</body>

</html>


<script>
 function funCha(){
  var x = document.getElementById("dmcha").value; 
  var link="getdmcons/"+x;
  //alert(link)
  $('#dmCon').load(link); 
 }
 
 //load
 $('#dmcha').load('getdmchas'); 
 $('#tinh').load('gettinhs'); 

//function quân huyện
 function funHuyen(){
  var x = document.getElementById("tinh").value;
  var link="getqhs/"+x;
  $('#huyen').load(link); 
 }
 function funXa(){
  var x = document.getElementById("huyen").value; 
  var link="getphuongxas/"+x;
  $('#xa').load(link); 
 }

</script>

<style>
select#dmcha ,select#dmCon,select#tinh,select#huyen,select#xa,select#country,input#yes{
    height: 50px;
    font-size: 14px;
}
</style>