<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="_assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--== Header Area Start ==-->
<% include ./template/nav-header %>
<!--== Header Area End ==-->



<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Banner // Slider Area Start ==-->
<section id="banner-area" class="banner__3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="banner-carousel" class="owl-carousel">
                    <!-- Banner Single Carousel Start -->
                    
                    <% if(typeof(carousel)!=="undefined"){
                    for(i=0;i<carousel.length;i++){
                        if(carousel[i].viTri=="tren")
                    {%>
                    <div class="single-carousel-wrap " style="background-image: url('/upload/<%=carousel[i].carouselIMG1%>') ;">
                        <div class="banner-caption">
                            <h4><%=carousel[i].theH4%></h4>
                            <h2><%=carousel[i].theH2%></h2>
                            <p><%=carousel[i].theP%>.</p>
                            <a href="<%=carousel[i].theLink%>" class="btn-long-arrow"><%=carousel[i].theA%></a>
                        </div>
                    </div>
                    <!-- Banner Single Carousel End -->
                    <%}}}%>
                    <!-- Banner Single Carousel Start -->
                    <div class="single-carousel-wrap home_4_slide_2">
                        <div class="banner-caption">
                            <h4>New Collection 2017</h4>
                            <h2>Beautiful Earrings</h2>
                            <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            <a href="#" class="btn-long-arrow">Shop Now</a>
                        </div>
                    </div>
                    <!-- Banner Single Carousel End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Banner Slider End ==-->
<!--== Search Area Start ==-->
<section id="newsletter-area" class="p-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2>Bộ Lọc Tìm kiếm </h2>
                    <p>Chúng Tôi sẽ giúp bạn tìm kiếm bài đăng phù hợp</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="newsletter-form-wrap">
                    <form id="subscribe-form" action="/search/baidang" method="get">
                         <div class="single-input-item">
                                <label for="country" class="required">Danh Mục Chính</label>
                                    <select name="dmcha" id="dmcha" onchange="funCha()" class="form-control" >
                                    <!--danh mục-->
                                   
                                    <option>chọn</option>
                                    <% if(typeof lst_DMCha_R!=='undefined'){
                                        for(i=0;i<lst_DMCha_R.length;i++){%>
                                        
                                        <option value="<%=lst_DMCha_R[i]._id%>"><%=lst_DMCha_R[i].tenDMCha%></option>         
                                        <%}}%>                     
                                    </select>
                             </div>
                    
                             <div class="single-input-item">
                                <label for="country" class="required">Danh Mục Con</label>
                                <select name="dmCon" id="dmCon" class="form-control" >
                                    <option>danh mục con</option>                               
                                </select>
                            </div>

                           
                            <div class="single-input-item">
                                <label for="country" class="required">Tỉnh Thành</label>
                                <select name="tinh" id="tinh" onchange="funHuyen()" class="form-control">
                                    <option value="">-</option>                                   
                                </select>
                            </div>

                          
                          

                          

                            <div class="single-input-item">
                                <label for="country" class="required">Loại Tin Đăng</label>
                                <select name="loaiTinDang" id="country" class="form-control">
                                    <option value="1">Tin Bán</option>     
                                    <option value="0">Tin Mua</option>                                                          
                                </select>
                            </div>

                           
                           

                          
                        <button type="submit" class="btn-long-arrow">Tìm Kiếm</button>
                        <div id="result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== search Area End ==-->





<!--== Products by Category Area Start ==-->
<div id="product-categories-area">
    <div class="ruby-container">
        <div class="row">
         <div class="small-size-cate">
                    <div class="row">
                     <%if(typeof folders!=='undefined'){
                        for(i=0;i<folders.length;i++){%>
                        <div class="col-sm-3">
                            <div class="single-cat-item">
                                <figure class="category-thumb">
                                    <a href="/gallery/<%=folders[i]._id%>/1"><img src="/upload/<%=folders[i].anh1%>" alt="Men Category"
                                                     class="img-fluid"/></a>

                                    <figcaption class="category-name">
                                        <a href="/gallery/<%=folders[i]._id%>/1"><%=folders[i].tenDMCha%></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                      <%}}%>
                       
                    </div>
                </div>
        </div>
    </div>
</div>






<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="_assets/js/plugins.js"></script>

<!--=== Active Js ===-->

</body>

</html>


<script>
 function funCha(){
  var x = document.getElementById("dmcha").value; 
  var link="getdmcons/"+x;
  //alert(link)
  $('#dmCon').load(link); 
 }
 
 //load
 $('#dmcha').load('getdmchas'); 
 $('#tinh').load('gettinhs'); 

//function quân huyện
 function funHuyen(){
  var x = document.getElementById("tinh").value;
  var link="getqhs/"+x;
  $('#huyen').load(link); 
 }
 function funXa(){
  var x = document.getElementById("huyen").value; 
  var link="getphuongxas/"+x;
  $('#xa').load(link); 
 }

</script>

<style>
select#dmcha ,select#dmCon,select#tinh,select#huyen,select#xa,select#country,input#yes{
    height: 50px;
    font-size: 14px;
}
</style>