<!DOCTYPE html>
<html lang="en">
    <head>
       <%include template/head.ejs%>
       <link href="/assets/css/bootstrap.css" rel="stylesheet">
      <!--external css-->
      <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
          
      <!-- Custom styles for this template -->
      <link href="/assets/css/style.css" rel="stylesheet">
      <link href="/assets/css/style-responsive.css" rel="stylesheet">
      <script src="/js/file.js"></script>

    </head>

    <body ng-app="">
    
	<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header ">
     <p> <a class="navbar-brand" href="/">Todolist <sub>By me</sub></a></p>
    </div>  

     <ul class="nav navbar-nav navbar-right">
      <li><a href="/profile" ><span class="glyphicon glyphicon-user"></span> <%=user[0].name %> </a></li>
      <li><a href="/signout" ><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
    </ul> 
  </div>
</nav>

<div class="container">

<div class="row col-md-3"></div>
<div class="col-md-5">
  <h3>Profile</h3>
  <form action="/profile/edit" method="post">
    <h4>Email: <%=user[0].email%></h4> 
    <h4>avatar:</h4> <img src="/upload/<%=user[0].avatar%>"  class="img-circle" width="260">
    <a href="#" data-toggle="modal" data-target="#uploadModal"><span class="glyphicon glyphicon-pencil"></span> </a>

    <br>
    <h4>password:</h4> <input class="form-control" type="password" name="password" value="<%=user[0].password%>" ng-model="passLogin.text">
    <h4>confirm password:</h4> <input type="password" class="form-control" name="" value="<%=user[0].password%>" ng-model="passLogin1.text">
    <span ng-show="(passLogin.text != passLogin1.text) && (passLogin1.text)"><i style="color:red">password wrong!</i> </span>
    <br>
    <h4>name:</h4> <input class="form-control" type="text" name="name" value="<%=user[0].name%>">
    <br>
  
   

    
    
        <br><br>
    <button type="submit" class="btn  btn-theme02" ng-disabled="(passLogin.text != passLogin1.text)||(!passLogin.text)||(!passLogin1.text)">Update</button>    
    <button type="" class="btn btn-theme">cancel</button>
 </form>






 
 </div>
</div>

 <!--upload Modal -->
 <div class="modal fade" id="uploadModal" role="dialog">
 <div class="modal-dialog">
 
   <!-- upload content-->
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">upload images</h4>
     </div>
     <div class="modal-body">

     <form action="/profile/upload" method="post"  enctype="multipart/form-data">
      <h4>avatar name using:</h4>  <%=user[0].avatar%>
      <h4>choose file:</h4> <input type="file" name="file"  class="form-control-file border"> <br>
          <br><br>
      <button type="submit" class="btn btn-primary" >upload</button>    
    
    </form>

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
   
 </div>
</div><!--upload Modal-->

<br><br><br><br><br>
<footer class="site-footer">
          <div class="text-center">
              2019 - HoaTamus
              <a href="" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>

 </body>
</html>


